*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  display: flex;
  background:rgb(22, 59, 153);
}

.quote{
  margin:auto;
  width: 100%;
  max-width: 600px;
  min-height: 250px;
  padding:30px;
  background: rgb(213, 191, 191);
  border-radius: 4px;
  box-shadow:4px 4px 1px rgba(4, 24, 104, 0.5) ;
  align-items: flex-start;
}
p{
  color:rgb(116, 8, 51);
  font-size: 20px;
  word-wrap: break-word;
  font-weight: bold;
}

p:last-of-type{
  margin: 10px 0;
}

button{
  border: none;
  outline: none;
  margin-right: 12px;
}

a{
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.btn{
  background-color: rgb(22, 59, 153);
  color: white;
  width: 100%;
  padding: 7px 0;
  font-size: 14px;
  border-radius: 4px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  margin: 5px;
}

.btn:hover{
  background-color:#5a57ec;
}

#author{
  color: rgb(11, 79, 142);
  font-size:17px;
}